@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-family: 'Nunito Sans', sans-serif;

  .textLimit {
    margin: 2rem;
    .howMuch {
      display: flex;
      flex-direction: column;
      align-items: center;
      input{
        margin: 1rem;
        font-size: 2rem;
      }

      button{
        width:35%;
        background-color: rgb(20, 187, 95);
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius:5px;
        padding: 1rem;
      }
    }
  }

  .limitedArea{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:.2rem .2rem .2rem .2rem;
    border-radius: 5px;
    background-color: rgb(255, 151, 151);

    .textArea{
      textarea{
        border-radius: 5px;
        width:30vw;
        height:20vh
      }
    }
    .howMany{
      width:40%;
      align-self: center;
    }
    p{
      color: #fff;
      align-self: flex-end;
      margin: 1rem;
    }
  }

}
.hidden {
  position: absolute;
  visibility: hidden;
}